#wrapper-navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: $white;

    nav {
        ul {
            li {
                a {
                    color: $black;
                }
            }
        }
    }
}